<ion-header>
  <ion-toolbar>
    <ion-title>pregunta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-card>
      <ion-card-subtitle>Ingresa tu respuesta</ion-card-subtitle>

      <ion-card-subtitle>segun la pregnta secreta que guardaste</ion-card-subtitle>
      <ion-input type="text" [(ngModel)]="respuesta" placeholder="Ingresa la respuesta"></ion-input>
      
      <ion-button shape="round" size="small" color="tertiary"
      (click)="validarRespuestaSecreta()">
      <ion-icon slot="start" name="home"></ion-icon>
      recuperar contraseña
    </ion-button>
    </ion-card>
  </ion-content>
</ion-content>


<ion-footer>
  <ion-toolbar color="primary" class="ion-text-center">
    
    <ion-button shape="round" size="small" color="tertiary"
        (click)="navegar('/inicio')">
      <ion-icon slot="start" name="home"></ion-icon>
      Inicio
    </ion-button>

    <ion-button shape="round" size="small" color="tertiary"
        (click)="navegar('/leerqr')"
        [disabled]="usuario.cuenta.trim() === ''">
      <ion-icon slot="start" name="qr-code"></ion-icon>
      Asistencia
    </ion-button>

    <ion-button shape="round" size="small" color="tertiary"
        (click)="navegar('/login')">
      <ion-icon slot="start" name="log-out"></ion-icon>
      Salir
    </ion-button>

  </ion-toolbar>
</ion-footer>


